.AbsoluteSmooth {
    .svgLines {
        height: 100%;
        position: absolute;

        top: 0;
    }
    position: relative;
    border-top: 2px solid $darkGrey;
    border-bottom: 2px solid $darkGrey;
    padding-top: 10px;
    // height: 100%;
    width: 100%;

    .dropClass {
        background: red;
        // height: 100%;
        width: 100%;
    }
    .departmentTitle {
        display: flex;
        justify-content: space-between;
        width: 190px;

        h5 {
            color: black;
        }
        button:active,
        button:focus {
            outline: none;
        }
        .departmentBtn {
            border: none;
            margin: auto 0;

            img {
                width: 10px;
            }
            .show {
                transform: rotateZ(90deg);
            }
            .hide {
                transform: rotateZ(-90deg);
            }
        }
    }
    .hideDepartament {
        transition: height 0.4s, opacity 0.1s linear;
        height: 0;
        opacity: 0;
    }
    .showDepartament {
        transition: height 0.4s, opacity 0.1s linear;
        opacity: 1;
        // height: 100%;
    }
    .departmentBlock {
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #fff;
        color: grey;
        position: relative;
        .emploeesName {
            display: flex;
            justify-content: space-between;
            width: 200px;
            padding: 10px 0px 10px 5px;
            border-right: 1px solid $grey;
            margin: 0;
            margin-right: 14px;
            text-align: left;
            font-size: 14px;
            button {
                padding: 0 4px;
                height: 20px;
                border: none;
                outline: none;
                background: none;
                img {
                    width: 10px;
                }
            }
        }
        .dayRow {
            padding: 0 20px 0 0px;
            display: flex;
            // height: 100%;
            border-bottom: 2px solid $grey;
            box-sizing: border-box;

            .smooth-dnd-draggable-wrapper {
                overflow: visible;
            }
            .day {
                box-sizing: border-box;
                width: 100%;

                .handlers {
                    position: relative;
                    .leftHandler {
                        position: absolute;
                        top: 6px;
                        left: 0;
                        width: 10px;
                        height: 24px;
                        background-color: pink;
                        cursor: col-resize;
                    }
                    .rightHandler {
                        position: absolute;
                        top: 6px;
                        right: 0;
                        width: 10px;
                        height: 24px;
                        background-color: red;
                        cursor: col-resize;
                    }
                    button {
                        width: 100%;
                        height: 100%;
                        border: none;
                        background: none;
                    }
                    button:focus {
                        outline: none;
                    }
                    .editPopup {
                        // float: right;
                        padding: 5px 0;
                        // display: flex;
                        position: fixed;
                        width: 300px;
                        height: 100px;
                        border: 1px solid grey;
                        z-index: 12;
                        background-color: #fff;
                        .popupTitle {
                            padding: 10px 10px 5px;
                        }
                        .buttonWrapper {
                            display: flex;
                            justify-content: flex-end;
                            .cyrcleStyle {
                                position: absolute;
                                left: 5px;
                                top: 8px;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                margin: 0 5px;
                            }
                            .popup-main {
                                background-color: #a5d6a7;
                            }
                            .popup-education {
                                background-color: #fff59d;
                            }

                            button {
                                width: 20px;
                                height: 20px;
                                text-align: right;
                                margin: 0 10px;
                                img {
                                    width: 20px;
                                    height: 20px;

                                }
                                .arrowIcon {
                                    transform: rotate(45deg);
                                }
                            }
                            .btnDelete:hover::after {
                                content: "delete";
                                position: absolute;
                                top: 40px;
                                right: 20px
                            }
                            .btnClose:hover::after {
                                content: "close";
                                position: absolute;
                                top: 40px;
                                right: 0px
                            }
                        }
                    }
                }

                .main {
                    cursor: pointer;
                    transition: opacity 0.2s ease;

                    .project {
                        text-align: center;
                        background-color: #a5d6a7;
                        margin: 5px 0px;
                    }
                }
                .education {
                    cursor: pointer;
                    transition: opacity 0.2s ease;

                    .project {
                        text-align: center;
                        background-color: #fff59d;
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}
