.AbsoluteSmooth {
    border-top: 2px solid $darkGrey;
    padding-top: 10px;
    height: 100%;
    width: 100%;
.dropClass {
    background: red;
    height: 100%;
    width: 100%;
}
    .departmentTitle {
        display: flex;
        justify-content: space-between;
        width: 190px;
        // background-color: lightblue;
        h5 {
            color: black;
        }
        button:active,
        button:focus {
            outline: none ;
        }
        .departmentBtn {
            border: none;
            margin: auto 0;
            // background-image: url();
            // background-repeat: no-repeat;
            // transform: rotateZ(90deg);
            img {
                width: 10px;
            }
            .show {
                transform: rotateZ(90deg);
            }
            .hide {
                transform: rotateZ(-90deg);
            }
        }
    }
    .hideDepartament {
        transition: height .4s, opacity .1s linear;
        height: 0;
        opacity: 0;
    }
    .showDepartament {
        transition: height .4s, opacity .1s linear;
        opacity: 1;
        height: 100%;
    }
    .departmentBlock {
    
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #fff;
        color: grey;
        .dayRow {
            padding: 0 20px 0 0px;
            display: flex;
            height: 100%;
            border-bottom: 2px solid $grey;
            box-sizing: border-box;

            p {
                // background-color: #fff;
                width: 230px;
                padding: 10px 5px 10px 5px;
                border-right: 5px solid $grey;
                margin: 0;
                margin-right: 15px;
                text-align: left;
                // margin-right: 10px;
            }
            .smooth-dnd-draggable-wrapper {
                overflow: visible;
            }
            .day {
                // border-left: 1px dotted $darkGrey;
                // border-right: 1px dotted $darkGrey;
                box-sizing: border-box;
                width: 100%;
                // position: relative;
                // background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: red; stroke-width: 1; stroke-dasharray: 5 2'/></svg>");
                .handlers {
                    position: relative;
                    .leftHandler {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 5px;
                        height: 100%;
                        background-color: pink;
                        cursor: col-resize;
                    }
                    .rightHandler {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 5px;
                        height: 100%;
                        background-color: pink;
                        cursor: col-resize;
                    }
                }
                
                .main {
                    cursor: pointer;
                    transition: opacity 0.2s ease;
                    background-color: #66bb6a;
                    .project {
                        text-align: center;
                        // margin: 5px 0;
                        background-color: #a5d6a7;
                        margin: 5px 5px;
                    }
                }
                .education {
                    cursor: pointer;
                    transition: opacity 0.2s ease;
                    background-color: #ffee58;
                    // width: 130%;
                    // z-index: 2;
                    .project {
                        text-align: center;
                        // margin: 5px 0;
                        background-color: #fff59d;
                        margin: 5px 5px;
                    }
                }
            }
        }
    }




}
