.AbsoluteSmooth {
    
    
    .svgLines {
        height: 100%;
        position: absolute;

        top: 0;
    }
    position: relative;
    border-top: 2px solid $darkGrey;
    border-bottom: 2px solid $darkGrey;
    padding-top: 10px;
    // height: 100%;
    width: 100%;

    .dropClass {
        background: red;
        // height: 100%;
        width: 100%;
    }
    .departmentTitle {
        display: flex;
        justify-content: space-between;
        width: 190px;

        h5 {
            color: black;
        }
        button:active,
        button:focus {
            outline: none;
        }
        .departmentBtn {
            border: none;
            margin: auto 0;

            img {
                width: 10px;
            }
            .show {
                transform: rotateZ(90deg);
            }
            .hide {
                transform: rotateZ(-90deg);
            }
        }
    }
    .hideDepartament {
        transition: height 0.4s, opacity 0.1s linear;
        height: 0;
        opacity: 0;
    }
    .showDepartament {
        transition: height 0.4s, opacity 0.1s linear;
        opacity: 1;
        // height: 100%;
    }
    .departmentBlock {
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #fff;
        color: grey;
        position: relative;
        .emploeesName {
            display: flex;
            justify-content: space-between;
            width: 200px;
            padding: 10px 0px 10px 5px;
            border-right: 1px solid $grey;
            margin: 0;
            margin-right: 14px;
            text-align: left;
            font-size: 14px;
            button {
                padding: 0 4px;
                height: 20px;
                border: none;
                outline: none;
                background: none;
                img {
                    width: 10px;
                }
            }
        }
        .dayRow {
            padding: 0 20px 0 0px;
            display: flex;
            // height: 100%;
            border-bottom: 2px solid $grey;
            box-sizing: border-box;

            .smooth-dnd-draggable-wrapper {
                overflow: visible;
            }
            .day {
                box-sizing: border-box;
                width: 100%;

                .handlers {
                    position: relative;
                    .leftHandler {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 10px;
                        height: 100%;
                        background-color: pink;
                        cursor: col-resize;
                    }
                    .rightHandler {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 10px;
                        height: 100%;
                        background-color: red;
                        cursor: col-resize;
                    }
                }

                .main {
                    cursor: pointer;
                    transition: opacity 0.2s ease;
                    background-color: #66bb6a;
                    .project {
                        text-align: center;
                        background-color: #a5d6a7;
                        margin: 5px 5px;
                    }
                }
                .education {
                    cursor: pointer;
                    transition: opacity 0.2s ease;
                    background-color: #ffee58;

                    .project {
                        text-align: center;
                        background-color: #fff59d;
                        margin: 5px 5px;
                    }
                }
            }
        }
    }
}
